/*
 * to restart css: swaync-client -rs
 */

@define-color base rgb(43, 43, 43);
@define-color overlay rgb(51, 51, 51);
@define-color text rgb(242, 242, 242);
 
@define-color accent rgb(143, 232, 247);
@define-color accentDarker rgb(44, 216, 245);

/* border radius and margin with same values as hyprland's */
.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  border: none;
  border-radius: 10px;
  margin: 5px 10px;
  background: @base;
  padding: 14px;
}

.notification-default-action,
.notification-action {
  transition: all 200ms ease;
  padding: 1px;
  margin: 0px;
  box-shadow: none;
  background: @base;
  color: @text;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @overlay;
}

.notification {
  border-radius: 12px;
  border: 2px solid @accent;
  box-shadow: none;
  padding: 0;
}

.notification-content {
  background: transparent;
  padding: 16px;
  border-radius: 12px;
}

.notification-background,
.notification-group {
  background: transparent;
}

.close-button {
  background: @accent;
  color: @base;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 20px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @accentDarker;
  transition: all 0.15s ease-in-out;
  border: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @text;
  text-shadow: none;
}

/* Clear all button */
.widget-title > button {
  font-size: initial;
  color: @text;
  text-shadow: none;
  background: @base;
  border: 2px solid @accent;
  box-shadow: none;
}
.widget-title > button:hover {
  background: @overlay;
}

/* Switch */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 15px;
  background: @base;
  border: 2px solid @accent;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @base;

}
.widget-dnd > switch slider {
  background: @accent;
  border: none;
  border-radius: 15px;
}
